/* Copyright© 2014 髭散化汰. All rights reserved. */
@charset "utf-8";

body {
	width: 1007px; /*1024pxのディスプレイでのブラウザ画面基準*/
	margin: 0 auto;
	-webkit-text-size-adjust: 100%;
}

/*画面の大きさに合わせて画像サイズを自動縮小*/
img {
  max-width: 100%;
  height: auto;
}


#shadow {
	margin: 0;
	box-shadow : 0px 5px 5px 5px rgba(0,0,0,0.5);
/*	水平方向の距離 垂直方向の距離 ぼかし距離 広がり距離 影の色 inset*/
}

#container {
	box-sizing: border-box;	/*高さと幅にborder（線）とpadding（余白）を含める*/
	-moz-box-sizing: border-box;/*最新規格非準拠ブラウザ向け*/
}

#banner {
/*	background-image: url("./picture/logo/banner_logo_sono2.png"),url("./logo/banner_logo_mediken.png");*/
/*	background-image: url('./picture/logo/head_mediken.png')/*url('./picture/logo/head_mediken_solo.png'),url(".picture/logo/logo_team.png")*/;
/*	background-repeat: no-repeat;
	background-position: top left, top right;
	background-size: 100%;/*, auto 190px*/
	height: auto;
	margin-left: 1.5%;
	text-align : center;
}

canvas {
}
/********************************　メニューバー　********************************/

nav.menu ul {
	margin: 0 auto;
	padding: 0;
	background: linear-gradient(rgba(236,234,138,1), rgba(226,222,35,1));
	background: -webkit-gradient(linear, top, bottom, from(rgba(236,234,138,1)), to(rgba(222,218,58,1))); 
	font-size: 1rem;
	font-family: meiryo;
	text-align: center;
	width: 100%;
	display: table;
	table-layout: fixed;
/*	border-radius: 7.5px;*/
	box-shadow: 0px 6px 10px rgba(0,0,0,0.4);
/*	clear : both ;*/
/*	border: 1px solid #ccc;*/
}
nav.menu ul li {
	border-right: 1px solid rgba(192,192,192,1);
	display: table-cell;
}
nav.menu ul li:last-child {
	border-right: none;
}
nav.menu ul li a {
	color: rgba(254,254,254,1);
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 5px rgba(0,0,0,1);
	padding: 0.9rem 0;
	display: block;
}
nav.menu ul li:hover {
	background: rgba(0,0,0,0.3);
}

/*	nav.menu ul li:hover:first-child {
		border-radius: 7.5px 0 0 7.5px;
	}
	nav.menu ul li:hover:last-child {
		border-radius: 0 7.5px 7.5px 0;
	}
*/


/********************************　コンテンツボックス　********************************/
#content{
	/*フレキシブルボックス(カラム)を適用したくない場合はtop_contentで囲う*/
	
	padding: 40px 5px 20px 8px; /*上 右 下　左　*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: auto;
	min-height : 430px;
	/*	padding: 0px 0px 30px; *//*上　左右　下*/
	/*以下フレキシブルボックスを使って面倒なfloat避ける*/
	display: -webkit-box; /*（古い規格）古いブラウザ向け*/
	display: -ms-flexbox; /* IE10専用 */
	display: -webkit-flex; /*iOSのSafari用*/
	display: flex;  /*CSSには上書きルールがあり、優先順位は下からなので、新しい規格は下に書くことに注意*/
}


/********************************　左カラム　********************************/
.leftbox{
	box-sizing: inherit;/*親要素の値を継承*/
	-moz-box-sizing: inherit;
	height: auto;
	width: 18%;
}

.dire_map{
	box-sizing: inherit;/*親要素の値を継承*/
	-moz-box-sizing: inherit;
	color: tomato;
	min-height: 390px;
	padding: 0.6rem 1rem ;
	vertical-align: middle;

	background : linear-gradient(rgba(222,247,254,0.6),rgba(202,250,243,0.6));
	border: solid 1px rgba(226,247,254,1);
	border-radius: 0.5rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: -3px 0px 8px rgba(54,171,241,0.5) inset;

	font-family: meiryo UI,meiryo;
	line-height: 2.5rem;
}

/*リンクの表示スタイル（.dire_mapのaタグのみに適用）*/

/*ブロック要素（リンクが文字以外のところにも適用される）*/
.dire_map a{
	display: block;
}

/* リンクのデザイン（何もしてない時） */
.dire_map a:link{
	color: tomato; /* トマト色 */
	text-decoration: none; /* 下線無し */
}
/*クリック後*/
.dire_map a:visited{
	color: darksalmon;
	text-decoration: none;
}
/*カーソルを載せた時*/
.dire_map a:hover{
	color: tomato;
	text-decoration: none;
	background: #ffffff;
}
/*クリック時*/
.dire_map a:active{
	color: darksalmon;
	text-decoration: none;
	background: #ffffff;
}

/*ディレクトリ名*/
.dire_name{
	color: darkorange;
	font-size : 1.2rem;
	font-weight : bold;
/*	text-align: center;*/
	margin: 0 0 0.5rem 0;
}

.dire_name a:link{
	color: darkorange;
	text-decoration: none;
}
.dire_name a:visited{
	color: darkorange;
	text-decoration: none;
}


/********************************　中央カラム　********************************/
.naiyou{
	font-family: meiryo UI,meiryo;
	max-width: 70%;
	padding: 0 1.3% 0 1.3%;
	box-sizing: border-box;
	line-height: 2rem;
	flex: 1 1 70%;
/*<'flex-grow'> <'flex-shrink'> <'flex-basis'>*/
}

.box2{
	min-height: 576px;
	box-sizing:border-box;
	border: solid 0.1rem rgba(190,190,190,1);
/*	border-radius: 1rem;*/
	padding: 2.2rem 2rem 2rem 2rem;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
/*	margin:0 0 2rem 0;*/
		/*[上][右][下][左]*/
}

.midashi1{
	font-size: 1.5rem;
/*1.5remでhtmlタグのh2と同じサイズ*/
	font-weight: bold;
/*	color: rgba(255,140,161,0.9);*/
}

.bar2 {
    height: 0.5rem;
    background: linear-gradient(to right, rgba(31,188,38,1), rgba(31,188,38,1), rgba(31,188,38,1), rgba(31,188,38,1), rgba(31,188,38,1),rgba(255,255,255,0));
	margin: 0 0 1rem 0;
/*linear-gradient(to 開始位置と角度, 開始色, 途中色, 終了色);*/
/*    border: 0;*/
/*    box-shadow: -100px 0 18px 4px rgba(255,255,255,1) inset;*/
/*水平方向の距離 垂直方向の距離 ぼかし距離 広がり距離 影の色 inset*/
}

/*.naiyou p{
	text-align: center;
}
*/

/********************************　右カラム　********************************/
.rightbox{
	box-sizing: inherit;/*親要素の値を継承*/
	-moz-box-sizing: inherit;
	min-width: 12%;
	width: 180px;
	flex: 1 0 auto;
/*<'flex-grow'> <'flex-shrink'> <'flex-basis'>*/
}

.counter {
	padding-top: 10px;
	text-align: center;
}


/********************************　トップページ　********************************/
#top_content{
	padding: 40px 100px 15px; /*上　左右　下*/
	font-family: meiryo UI,meiryo;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 1007px;
	height: auto;
	min-height : 430px;
	line-height: 1.8rem;
	/*	padding: 0px 0px 30px; *//*上　左右　下*/
}

#top_naiyou{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 0 3%;
	line-height: 1.8rem;
	display: -webkit-box; /*Android用*/
	display: -ms-flexbox; /* IE10専用 */
	display: -webkit-flex; /*iOSのSafari用*/
	display: flex;  /*フレキシブルボックスを使って面倒なfloat避けてる*/
}

#top_naiyou h2{
	font-size: 1.6rem;
/*	font-family: meiryo;*/
/*1.5remでhtmlタグのh2と同じサイズ*/
}

.top_topix{
	box-sizing: inherit;/*親要素の値を継承*/
	-moz-box-sizing: inherit;
	width: 50%;
}

/*ブロック要素（リンクが１行分、改行するまで適用される）*/
.top_topix a{
	display: block;
	background: rgba(206,251,208,0.3); /* リンクの背景に色をつける */
}

.top_twitter{
	box-sizing: inherit;/*親要素の値を継承*/
	-moz-box-sizing: inherit;
	width: 50%;
	padding: 0 0 0 2.5rem;
}

/********************************　フッター　********************************/
.bar1 {
	border-style:dashed;
	border-top:1px solid;
	border-bottom:1px solid;
	margin: 2% 2%;
}

#foot {
	font-family: meiryo UI,meiryo;
	text-align:center;
	padding: 0 0 0.7rem 0;
}

#foot span{
	font-size: 0.8rem;
}

/*リンクの表示スタイル（.footのaタグのみに適用）*/
/*茶色、下線無し*/
#foot a:link{
	color: brown;
	text-decoration: none;
}
/*クリック後*/
#foot a:visited{
	color: brown;
	text-decoration: none;
}
/*カーソルを載せた時*/
#foot a:hover{
	color: brown;
	text-decoration: none;
	background: rgba(250,202,190,1);
}
/*クリック時*/
#foot a:active{
	color: chocolate;
	text-decoration: none;
	background: rgba(250,202,190,1);
}

#foot p{
	font-family: Times New Roman;
}



/**************************************************************************/
/********************************　オプション要素　********************************/

/*-------------くくられた領域-------------*/
.box1{
	box-sizing:border-box;
	border: solid 0.1rem rgba(190,190,190,1);
	border-radius: 1rem;
	padding: 1rem 1rem ;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	margin:0 0 2rem 0;
		/*[上][右][下][左]*/
}

.flexbox{
	display: -webkit-box; /*（古い規格）古いブラウザ向け*/
	display: -ms-flexbox; /* IE10専用 */
	display: -webkit-flex; /*iOS7のSafari用*/
	display: flex;  /*CSSには上書きルールがあり、優先順位は下からなので、最新の規格は下に書くことに注意*/
}

.linkbox{
	margin: 4% 0 0 4%;
}

/*-------------文字揃え-------------*/
.center{
	text-align: center;
}

.right{
	text-align: right;
}

/*-------------自動改行禁止-------------*/

.nobr{
	white-space: nowrap;
}

/*-------------背景--------------*/
.back_White{
	background-color: #ffffff;
}

.back_Wakakusa{
	background-color: rgba(206,251,208,0.1);
}

.back_Sakura{
	background-color: rgba(255,200,230,0.1)
}

/*-------------フォント-------------*/
.meiryo{
	font-family: meiryo;
}

.footfont{
	font-family: Times New Roman;
}

/*------------下線無し---------------*/
.nounderline{
	text-decoration: none;
}


/*-------------文字の色-------------*/
.pink{
	color: rgba(255,140,161,0.9);
}

.limegreen{
	color: limegreen;
}

.blue {
	color: blue;
}

.red{
	color:red;
}

/*-------------フォントサイズ-------------*/
.komi1{ /*小見出しその１*/
	font-size: 1.2rem;
	font-weight: bold;
}

.chuyaku1{ /*注訳サイズ１*/
	font-size: 0.9rem;
}

/*-------------空白-------------*/
.kuuhaku1{
	padding-right: 2rem;
}

.indent_15rem{
	padding-left:15rem;
}

/*--------箇条書きのスタイル---------*/
.no_mark_list{
	list-style:none;
	margin: 0;
	padding : 0;
}

#canvas{
	box-sizing: border-box;
/*	border: solid 0.1rem rgba(0,0,0,1);*/
	margin: 0;
	padding : 0;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
